.app {
  text-align: center;
}

.actions {
    padding: 10px 20px;
}

.actions *:not(last-child) {
    margin-right: 10px;
    padding: 5px;
}

.post {
    padding: 5px;
}

.post:nth-child(odd) {
    background: rgba(32, 32, 32, 0.25);
}
